
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #DDD;
$gray: #AAA;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Open Sans, Helvetica, Arial, sans-serif;
$helveticaNeue: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
